@import '~bootstrap/dist/css/bootstrap-grid.css';

html {
    scroll-behavior: smooth;
}

html, body, #root {
    height: 100%;
    margin: 0;
}

#app-body {
    min-height: 1000px;
}

video {
    border-radius: 50px;
}
